.profile-menu {
  position: relative;
  display: inline-block;
}

.avatar {
  cursor: pointer;
}

.avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #90a78d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: block; /* Ensure it's visible when open */
  opacity: 0; /* Start hidden */
  visibility: hidden; /* Start hidden */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.profile-menu .dropdown {
  opacity: 1; /* Make it visible */
  visibility: visible; /* Ensure it's visible */
}

.menu-item {
  padding: 10px 20px;
  cursor: pointer;
}

.menu-item:hover {
  border: 1px solid #080808;
}
