.inner-container{
    gap: 1.5rem;
    background: green;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid light greenyellow;
    text-align: center;
}

.inner-container .primaryText{
    color: orange;
    font-weight: 600;
}
.inner-container .secondaryText{
    color: rgba(255, 255, 255, 0.587);
}
.inner-container .button {  
    background: green;
    border: 2px solid white;
    box-shadow: white;
    border-radius: 10px;
}

.inner-container .button a {
    color: orange; /* Set link color to orange */
    text-decoration: none; /* Remove underline from link */
  }