.h-wrapper {
  z-index: 99;
  position: sticky;
  top: 0;
  background: transparent; /* Set background to transparent */
}

.h-container {
  padding-top: 0rem;
  padding-bottom: 0rem;
  color: var(--secondary);
  justify-content: space-between;
}

.h-menu {
  gap: 2rem;
}

.h-menu > *:hover {
  cursor: pointer;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .h-menu {
    color: var(--black);
    position: absolute;
    gap: 2rem;
    font-weight: 500;
    flex-direction: column;
    right: 4rem;
    top: 3rem;
    background: white;
    display: flex;
    border-radius: 10px;
    transition: all 200ms ease;
    align-items: flex-start;
    padding: 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }
}

/* header.css */

/* Add this to your existing CSS */
.h-menu a,
.h-menu .nav-link {
  color: green;
}

.h-menu a:hover,
.h-menu .nav-link:hover {
  color: darkgreen; /* Optional: Darker green on hover */
}
